@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.wrapper {
  padding-top: calc(var(--mantine-spacing-xl));
  padding-bottom: calc(var(--mantine-spacing-xl) * 4);
}


.title {
  font-size: 34px;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    font-size: 24px;
  }
}

.description {
  max-width: 700px;
  margin: auto;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding-bottom: calc(var(--mantine-spacing-xl)*2);
  color: rgb(109, 109, 109) !important;
  
  &::after {
    content: '';
    display: block;
    background-color: #a6161a;
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.about_content{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(109, 109, 109);
}