.root {
  display: flex;
  background-image: linear-gradient(
    -60deg,
    #94050a 0%,
    #d60e15 100%
  );
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  margin-top: calc(var(--mantine-spacing-xl) * 2);
  margin-bottom: calc(var(--mantine-spacing-xl) * 2);

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.title {
  color: var(--mantine-color-white);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--mantine-font-size-sm);
}

.count {
  color: var(--mantine-color-white);
  font-size: 32px;
  line-height: 1;
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-md);
  font-family: Outfit, var(--mantine-font-family);
}

.description {
  color: var(--mantine-color-blue-0);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}

.stat {
  flex: 1;

  & + & {
    border-left: 1px solid var(--mantine-color-blue-3);
    padding-left: var(--mantine-spacing-xl);
    margin-left: var(--mantine-spacing-xl);

    @media (max-width: 768px) {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
      border-top: 1px solid var(--mantine-color-blue-3);
      padding-top: var(--mantine-spacing-xl);
      margin-top: var(--mantine-spacing-xl);
    }
  }
}